.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


#home{
  height: 1000px;
background: red;
}
#link{
  height: 1000px;
background: green;
}

.main-navigation {
  position: absolute;
  background-color: transparent;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  left: 0;
  width: 100%;
  z-index: 99999;
  padding-top: 15px;
}