/*----------------------------------------
## Typography
----------------------------------------*/

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}
a:focus {
  outline: 0px solid;
}

img {
  max-width: 100%;
  height: auto;
}
.fix {
  overflow: hidden;
}
p {
  margin: 0 0 15px;
}
a:hover {
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0 none;
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
.clear {
  clear: both;
}
.no-padding {
  padding: 0px;
}
.no-padding-l {
  padding-left: 0px;
}
.no-padding-r {
  padding-right: 0px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
